# Arduino IDE / VS Code specific files
*.ino.hex
*.ino.bin
*.elf
*.lst
*.map
*.eep
*.o
*.d
*.gcno
*.gcda
*.gcov
*.su
*.sym

# Arduino specific folders
build/
.arduino/
.vscode/
.idea/
.theia/ # อันนี้สำคัญเลย เห็นในโครงสร้างของคุณ

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db

# General IDE / system files
*.log
*.swp
*~
653070310210_sketch1/653070310210_sketch1.mp4
653070310210_sketch_project/Adafruit-GFX-Library-master.zip
653070310210_sketch_project/Adafruit_SSD1306-master.zip
653070310210_sketch_project/blynk-library-master.zip
653070310210_sketch_project/MQ-2-sensor-library-master.zip
